.info{
    padding:10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.name{
    padding-bottom: 10px;

    color: #fff;
}

@media screen and (max-width: 413px){
    .container{
        padding: 0;
    }
    .main{padding:10px}
    .info{
        flex-direction: row;
        column-gap: 10px
    }
}